

*{
box-sizing: border-box;
    padding: 0;
    margin: 0;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
   color: #F9CC11;
   background-color: #242424
}




p h1 h2 h3{
    color: black;
}

h2{
    text-align: center;
    margin-top: 50px;  
    margin-bottom:50px ;
}
p {
    font-size: 10px;
  color: #ccc;

}

/* LOGO HOME */ 

.box_logo_home{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo_home{

    width: 300px;
    margin: 5px;
    margin-top: 50px;   
    margin-bottom: 50px;
}


.box_sobremi{
    
    width: 300px;
    margin: 5px;   
    border:1px solid #F9CC11;
    border-radius: 20px;
    padding: 5px;
    margin :0 auto;

    
}
.box_conten_sobremi h2 ,p{
text-align: center;
}


.box_conten_musica{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.box_conten_musica h2 {
text-align: center;
}


h1{
    text-align: center;
}


@media (min-width: 768px) {

.logo_home{

    width: 700px;
}

}
.icon_contactos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.a_circle {
  width: 50px;          /* el tamaño que quieras */
  height: 50px;
  border-radius: 50%;
  overflow: hidden;     /* 👈 recorta la imagen */
  display: inline-block; /* 👈 CLAVE */
  border:1px solid #F9CC11;
}

.a_circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* centra y recorta */
  display: block;       /* elimina espacios */
}




footer {
  color: #fff;
  padding:  20px;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  margin-top: 100px;
}

.footer-contenedor {
  display: flex;
    flex-direction:column;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-col {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
  text-align: center;
}

.footer-col p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer-col a {
  display: block;
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
  line-height: 1.8;
}

.footer-col a:hover {
  color: #fff;
}

.footer-copy {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 0.85rem;
  color: #aaa;

}



.short-container {
  max-width: 300px;   /* ancho máximo */
  margin: 0 auto;     /* centra */
  margin-top: 50px;
}

.short-container iframe {
  width: 100%;
  aspect-ratio: 9 / 16;
  display: block;
}



